
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Add Segment</ion-title>
    <ion-buttons slot="end" (click)="excelUploadEnable()">
      <ion-icon name="cloud-upload-sharp" id="upload"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!excelUpload">
  <div class="pagewrap">
    <form class="form" id="form" [formGroup]="segmentForm">
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="segmentName"
          name="segmentName"
          required
          formControlName="segmentName"
        />
        <label id="segmentName" for="segmentName" class="container__label"
          >Segment Name</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="description"
          name="description"
          required
          formControlName="description"
        />
        <label id="description" for="description" class="container__label"
          >Description</label
        >
      </div>

      <button class="form__submit" id="submit" type="button" value="submit" (click)="addSegment()">
        Submit
      </button>
    </form>
  </div>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="excelUpload">
  <div class="pagewrap">
    <form class="form" id="form">
      <div class="container">
        <input
          class="container__input"
          type="file"
          id=""
          name="tagId"
          value=""
          required
          (change)="onFileSelected($event)"
        />
        <label id="userLabel" for="tagId" class="container__label"
          >Excel</label
        >
      </div>

      <button class="form__submit" id="submit" type="button" value="submit" (click)="upload()">
        Upload
      </button>
    </form>
  </div>
</ion-content>
