<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Reference List</ion-title>
    <ion-buttons slot="end" class="addbtn" (click)="addReferenceList()">
      <!-- <ion-menu-button> </ion-menu-button> -->
      <ion-icon name="add-sharp" slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <div class="container">
      <select class="container__input" [(ngModel)]="ref" (change)="selectRef(ref)">

        <option *ngFor="let ref of references" [ngValue]="ref.referenceId">
          {{ref.name}}
        </option>
      </select>
      <!-- <label id="refName" for="refName" class="container__label"
        >Ref Name</label
      > -->
    </div>
  </ion-card>
  <ion-card>
    <ion-input
      (ionChange)="search($event)"
      class="container__input"
      type="text"
      id="refName"
      name="refName"
      expand="full"
      placeholder="Reference Name"
    />
  </ion-card>

  <ion-card *ngFor="let ref of referenceListItems">
    <ion-card-header>
      <ion-row>
        <ion-col
          ><ion-card-title
            >Reference List Name:
            <ion-label>{{ref.name}}</ion-label></ion-card-title
          ></ion-col
        >
        <ion-col size="auto"
          ><ion-button
            color="danger"
            (click)="deleteRefList(ref.referenceListId)"
            ><ion-icon name="trash-sharp"></ion-icon></ion-button
        ></ion-col>
      </ion-row>

      <!-- <ion-card-subtitle></ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col
            >Description: <ion-label>{{ref.description}}</ion-label></ion-col
          >
          <ion-col size="auto"
            ><ion-button (click)="editReferenceList(ref.referenceListId)">
              <ion-icon name="create-sharp"></ion-icon></ion-button
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
