<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary" class="heading">
    <ion-card-header>
      <ion-card-title>RFID DIGITAL INVENTORY</ion-card-title>
      <ion-card-title>Asset Pro</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="card">
    <ion-card color="light">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>RFID STOCK TAKES</ion-card-title>
              <ion-card-title>100</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="thumbs-up"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-icon name="arrow-up"></ion-icon>
        <ion-label>Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>TOTAL ITEMS </ion-card-title>
              <ion-card-title>3000</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="pie-chart"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-icon name="arrow-up"></ion-icon>
        <ion-label>Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>UNCONFIRMED</ion-card-title>
              <ion-card-title>10</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="coins"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-icon name="arrow-up"></ion-icon>
        <ion-label>Today</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>STOCK ACCURACY</ion-card-title>
              <ion-card-title>100</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="basket-shopping"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>NEW ITEMS</ion-card-title>
              <ion-card-title>10</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="thumbs-up"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>UNKNOWN</ion-card-title>
              <ion-card-title>30</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="cube"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>LOW STOCK ALERT</ion-card-title>
              <ion-card-title>0</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="box-archive"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>HIGH SALE ITEMS</ion-card-title>
              <ion-card-title>3000</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <!-- <fa-icon icon="folder-bookmark"></fa-icon> -->
            <!-- <i class="fa-solid fa-folder"></i> -->
            <!-- <i class="fa-solid fa-chart-simple"></i> -->
            <fa-icon icon="chart-simple"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>AVERAGE INVENTORY BY CATEGORY</ion-card-title>
              <ion-card-title>1000</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="file-invoice-dollar"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>STOCK MOVEMENT</ion-card-title>
              <ion-card-title>30</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="cart-plus"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>FLOORWISE STOCK</ion-card-title>
              <ion-card-title>100</ion-card-title>
            </ion-col>
            <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
            <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
            <fa-icon icon="caravan"></fa-icon>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-icon name="arrow-up"></ion-icon> -->
        <ion-label>Since Today</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card class="chart-container">
    <h2 class="ion-text-center">Asset Statistics</h2>
    <canvas id="MyChart" width="800" height="450">{{ chart }}</canvas>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>INACTIVE ASSET</ion-card-title>
            <ion-card-title>495</ion-card-title>
          </ion-col>
          <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
          <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
          <fa-icon icon="file-invoice-dollar"></fa-icon>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="arrow-up"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>LAST ASSET AUDIT BY HST</ion-card-title>
            <ion-card-title>120</ion-card-title>
          </ion-col>
          <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
          <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
          <fa-icon icon="cart-plus"></fa-icon>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="arrow-up"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>MISSING ASSET</ion-card-title>
            <ion-card-title>15</ion-card-title>
          </ion-col>
          <!-- <ion-col><i class="fa-duotone fa-thumbs-up"></i></ion-col> -->
          <!-- <i class="fa-duotone fa-thumbs-up fa-2xl"></i> -->
          <fa-icon icon="caravan"></fa-icon>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="arrow-up"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="chart-container">
    <h2 class="ion-text-center">Category of Asset Statistics</h2>
    <!-- <canvas  id="MyChart" >{{ chart }}</canvas> -->
    <canvas id="doughnut-chart" width="800" height="450"></canvas>
  </ion-card>
  <!-- <div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div> -->
</ion-content>
