<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Sale</ion-title>
    <ion-buttons slot="end" class="addbtn" (click)="saleEntry()">
      <!-- <ion-menu-button> </ion-menu-button> -->
      <ion-icon name="add-sharp" slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-input
      class="container__input"
      type="text"
      id="tagId"
      name="tagId"
      expand="full"
      placeholder="RFID code"
      [(ngModel)]="tagId"
      (input)="calculateByteLength($event)"
      autofocus="true"
      inputmode="none"
    ></ion-input>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="danger" (click)="clear()"
          ><ion-icon name="close"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="editSale()"
          ><ion-icon name="arrow-redo"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
