<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Company Master</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pagewrap">
    <form class="form" id="form">
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="username"
          name="username"
          value=""
          required
        />
        <label id="userLabel" for="username" class="container__label"
          >Name</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="pass"
          name="text"
          value=""
          required
        />
        <label id="passLabel" for="pass" class="container__label"
          >Mobile No</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="username"
          name="username"
          value=""
          required
        />
        <label id="userLabel" for="username" class="container__label"
          >Email Id</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="pass"
          name="text"
          value=""
          required
        />
        <label id="passLabel" for="pass" class="container__label"
          >Address</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="username"
          name="username"
          value=""
          required
        />
        <label id="userLabel" for="username" class="container__label"
          >City</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="pass"
          name="text"
          value=""
          required
        />
        <label id="passLabel" for="pass" class="container__label"
          >Division</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="username"
          name="username"
          value=""
          required
        />
        <label id="userLabel" for="username" class="container__label"
          >Branch</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="text"
          id="pass"
          name="text"
          value=""
          required
        />
        <label id="passLabel" for="pass" class="container__label"
          >Unit</label
        >
      </div>
      <div class="container">
        <input
          class="container__input"
          type="file"
          id="username"
          name="username"
          value=""
          required
        />
        <label id="userLabel" for="username" class="container__label"
          >Logo</label
        >
      </div>

         <button class="form__submit" id="submit" type="button" value="submit">
        Submit
      </button>
    </form>
  </div>
</ion-content>
